@mixin column-flex-container(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@mixin column-left-flex-container(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
@mixin line-flex-container(){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@mixin line-left-flex-container(){
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}
@mixin line-right-flex-container(){
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}
